extends layout
block nav

block content
    div.w3-padding-large#main
        a(href='./introscreen')
            img.w3-center(src='./images/logoBandbase_500x500-removebg-preview.png' alt='Picture of the Band Base log')
