extends layout

block content
    h1=title

    form(method='POST' action='')
        div.form-group
            label(for='name') First Name:
            input#name.form-control(type='text' placeholder='Name (Christian)' name='name' required='true' value=(undefined===artist ? '' : artist.name) )
        div.form-group
            label(for='since') Since:
            input#since.form-control(type='date' name='since' value=(undefined===artist ? '' : artist.since) )
            label(for='stillActive') Date of death:
            input#stillActive.form-control(type='text' name='stillActive' value=(undefined === artist ? '' : artist.stillActive) )
        button.btn.btn-primary(type='submit') Submit
    if errors
        ul
            for error in errors
                li!= error.msg