extends layout
block nav
  nav.w3-sidebar.w3-bar-block.w3-small.w3-hide-small.w3-center
    a(href='./introscreen')
      img(src = './images/LogoResized.png' style='width:100%').
    a(href='./news').w3-bar-item.w3-button.w3-padding-large.w3-hover-black NEWS
    a(href='news.html').w3-bar-item.w3-button.w3-padding-large.w3-hover-black MY BANDS
    a(href='news.html').w3-bar-item.w3-button.w3-padding-large.w3-hover-black DISCOVER

block content
  div#main.w3-padding-large
    h1= message
    h2= error.status
    pre #{error.stack}
