extends discover
block nav
    nav.w3-sidebar.w3-bar-block.w3-small.w3-hide-small.w3-center
        a(href='/introscreen')
            img(src = '/images/LogoResized.png' style='width:100%').
        a(href='/news').w3-bar-item.w3-button.w3-padding-large.w3-hover-black NEWS
        a(href='/about').w3-bar-item.w3-button.w3-padding-large.w3-hover-black ABOUT
        hr
        a(href='/mybands').w3-bar-item.w3-button.w3-padding-large.w3-hover-black MY BANDS
        a(href='/discover').w3-bar-item.w3-button.w3-padding-large.w3-black DISCOVER
    div.w3-top.w3-hide-large.w3-hide-medium#myNavBar
        div.w3-bar.w3-black.w3-opacity.w3-hover-opacity-off.w3-center.w3-small
            a(href='/introscreen').w3-bar-item.w3-button HOME
                style.
                    {width:25%}
            a(href='/about').w3-bar-item.w3-button ABOUT
                style.
                    {
                        width: 25%
                    }
            a(href='/news').w3-bar-item.w3-button NEWS
                style.
                    {width: 25%}
            a(href='news.html').w3-bar-item.w3-button MY BANDS
                style.
                    {width: 25%}
            a(href='/discover').w3-bar-item.w3-button DISCOVER
                style.
                    {width: 25%}

block content
    style.
        body {
            background-image: url(/images/introBackground.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }

        #main {
            margin-left: 120px
        }

        @media only screen and (max-width: 600px) {
            #main {
                margin-left: 0
            }
        }
    div#main.w3-padding-large
        div#home.w3-container.w3-padding-32.w3-black
            h1.w3-center #{title}
            div.inputContainer.w3-padding-large
                form(method='POST' action='')
                    div
                        label(for='name') Genre:
                        input#name(type='text', placeholder='Heavy Metal, Hard Rock etc.' name='name' value=(undefined === genre ? '' : genre.name))

                    button.w3-btn.w3-dark-grey.w3-hover-white.submitBtn(type='submit') Submit

            if errors
                ul
                    for error in errors
                            li!= error.msg





