doctype html
html
  head
    title Band Base
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    style.
      body h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
      .w3-row-padding img {margin-bottom: 12px}
      .w3-sidebar {width: 120px;background: #222;}
      #main {margin-left: 120px}

  body.w3-black
    nav.w3-sidebar.w3-bar-block.w3-small.w3-hide-small.w3-center
        a(href='test')
          img(src = './images/LogoResized.png' style='width:100%').
        a(href='news.html').w3-bar-item.w3-button.w3-padding-large.w3-hover-black NEWS
        a(href='news.html').w3-bar-item.w3-button.w3-padding-large.w3-hover-black TEST
        a(href='news.html').w3-bar-item.w3-button.w3-padding-large.w3-hover-black ABOUT
    block content







