doctype html
html
  head
    title Band Base
    title=BandBase
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel='icon' href='/images/LogoResized.ico')
    style.
      body h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
      .w3-row-padding img {margin-bottom: 12px}
      .w3-sidebar {width: 120px;background: #222;}
      #main {margin-left: 120px}
      #cookie{margin-left: 120px}
      @media only screen and (max-width: 600px){#main{margin-left:0} #cookie{margin-left:0}}


  body.w3-black
    block nav


    block content

    div#cookie.cookie-container.w3-round-large.w3-padding-medium.w3-display-topmiddle.w3-center
      p.
        We use cookies in this website to give you the best experience on our
        website. To find out more, read our privacy policy and cookie policy.

      button.cookie-Button.w3-btn.w3-black.w3-hover-white.w3-round-large OKAY
      script(src='javascripts/cookie.js')




